/* Core Styles */
.container {
    padding: 0 1.5em;
}

* {
    box-sizing: border-box;
}

#nav-topper {
    display: none;
}

@font-face {
    font-family: 'FuturaBT-Light';
    src: url('../fonts/FuturaBT-Light.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('../fonts/Futura-CondensedLight.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

p {
    font-size: 18px;
    line-height: 1.5em;
    font-family: 'FuturaBT-Light', sans-serif;
    color: #767676;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    overflow-y: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
}

body {
    position: relative;
}

body, html, h1, h2, h3, h4, h5, h6 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden !important;
    color: #414141;
}

#noScroll {
    overflow: scroll;
}

.remove {
    display: none;
}

#galler-desktop {
    display: none;
}

.toggle-img {
    display: none;
}

#desktop-position {
    display: none;
}

#desktop-partners {
    display: none;
}

.btn-toggle {
    display: none;
}

.quote,
.call {
    display: none;
}

.navbar-links {
    display: none;
}

#logo {
    display: none;
}

#call-strip {
    display: none;
}

.button-solid {
    display: inline-block;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    font-size: 15px;
    margin: 10px 0;
    padding: 12px 40px;
    color: #000;
    text-decoration: none;
    animation-delay: 0.6s;
    border-radius: 5px;
    white-space: nowrap;
    float: left;
}

.button-solid:hover {
    background: #31aece;
    border-color: #31aece;
    color: #fff;
    transition: background 0.4s ease 0s;
    transition-property: background;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
}

.button-transparent {
    display: inline-block;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    font-size: 15px;
    margin: 10px 0;
    padding: 6px 30px;
    color: #FFFFFF;
    text-decoration: none;
    animation-delay: 0.6s;
    border-radius: 5px;
    white-space: nowrap;
    float: left;
    height: 40px;
}

.button-transparent a:hover {
    background: #fff;
    border-color: #fff;
    color: #DB170D;
    transition: background 0.4s ease 0s;
    transition-property: background;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
}

/*-- -------------------------- -->
<---        NAVIGATION          -->
<--- -------------------------- -*/

.navbar {
    background-color: transparent;
    width: 100%;
    height: 78px;
    position: relative;
    z-index: 1;
    position: absolute;
    top: 0;
}

.open-slide {
    float: right;
    margin-right: 1.5em;
    display: block;
    z-index: 5;
    position: absolute;
    right: 0;
    top: 25px;

}

.side-nav {
    width: 0;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
    transition: 0.5s;
    right: -1px;
    text-align: right;
    z-index: 15;
}

#side-hidden {
    background-color: #103F54;
    opacity: 0.6;
    height: 100%;
    position: absolute;
    top: 0;
    transition: 0.5s;
    left: 0
    margin: 0;
    width: 0;
    z-index: 7;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.side-nav ul {
    display: block;
    text-decoration: none;
    z-index: 6;
    /* Added this */
    padding: 0;
    position: relative;
    list-style: none;
}

/* Added this */
.nav-item {
    display:block;
    margin: 0;
}

.side-nav ul a {
    position: relative;
    width: 100%;
    /* Changed this */
    /* padding: 10px 130px 10px 100px;*/
    padding: 20px 15px;
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    z-index: 6;
    /* Removed this */
    /* right: 30px; */
    text-align: right;
    /* Added these */
    display: block;
    box-sizing: border-box;  
    font-weight: 500;
    font-family: 'FuturaBT-Light', sans-serif;
    font-size: 16px;
}

.btn-close {
    display: block;
    background: #fff;
    position: absolute;
    top: 0;
    /* Changed this */
    /* left: 22px; */
    left: 0;
    font-size: 36px !important;
    text-decoration: none;
    color: #2F2E2E;
    right: 7px;
    padding: 0;
}

.btn-close a:hover {
    color: #444;
    cursor: pointer;
    background: #fff;
}

.side-nav .btn-close:hover {
    color: #fff
}

.side-nav li a:hover {
    color: #31AECE;
}

.side-active {
    color: #31AECE !important;
}

.mobile-logo {
    position: relative;
    right: 0%;
    padding: 0;
}

.mobile-logo img {
    width: 200px;
    position: relative;
    top: 8px;
}

.desktop-logo {
    display: none;
}

#side-menu {
    margin: 0;
    width: 0;
    transition: .5s;
}

#side-menu ul {
    position: relative;
    top: -10px;
}

#on-top {
    display: none;
    font-size: .9em;
}

#bottom-menu {
    display: flex;
    flex-direction: row;
    z-index: 7;
    flex-wrap: nowrap;
    width: 100%;
    position: absolute;
}

.bottom {
    width: 50%;
    background: white;
    bottom: 0;
    position: fixed;
    height: 60px;
    display: block;
    left: 0;
    border-top: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
}

.bottom2 {
    width: 50%;
    background: white;
    bottom: 0;
    position: fixed;
    height: 60px;
    display: block;
    position: fixed;
    right: 0;
    border-top: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
}

#bottom-menu i {
    padding: 20px 70px;
    color: #2F2E2E;
    text-align: center;
    position: relative;
    /* center icon vertically */
}

/*-- -------------------------- -->
<---          LANDING           -->
<--- -------------------------- -*/

#landing {
    background: url('../images/landscape-3-compressor-crop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -2;
}

.hero-dark {
    background: #000;
    opacity: .5;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hero-content h1 {
    color: #ffff;
    position: relative;
    z-index: 3;
}

/*-- -------------------------- -->
<---         PAINTINGS          -->
<--- -------------------------- -*/

#painting-buttons {
    height: auto;
}

#gallery-desktop {
    display: none;
}

.buttons button {
    width: 45%;
    padding: 10px 20px !important;
    margin: 10px auto;
    border: 1px solid #000;
}

.buttons {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 40px 0;
}

button:focus {outline:0;}

/* Default Button Focus */
.clicked {
    color: #fff;
    background: #31AECE;
    border: none !important;
}

.structures img {
    margin: 30px 0;
    width: 100%;
    position: relative;
}

.gallery-start {
    position: relative;
}

#gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.gallery-group {
    position: relative;
    height: auto;
    transition: all .3s ease;
    top: 0;
}

.group-remove {
    opacity: 0;
    visibility: hidden;
}

.absolute {
    position: absolute;
    top: 0;
}

.structures img {
    height: auto;
}

/*-- -------------------------- -->
<---           FOOTER           -->
<--- -------------------------- -*/

footer {
    background: url("../images/footer-background-compressor.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer-item {
    width: 250px;
    padding-top: 40px;
}

.footer-item:first-child {
    display: flex;
    justify-content: flex-start;
}

.footer-item h3 {
    text-align: left;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.footer-item p {
    color: #fff;
    font-size: 15px;
    margin: 0;
}

.item-line {
    height: 1px;
    width: 70%;
    background: #fff;
    margin: 7px 0;
}

.footer-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #103F54;
    opacity: .8;
    z-index: 5;
}

.footer-content {
    position: relative;
    z-index: 6;
}

.footer-content img {
    width: 200px;
    margin-top: 50px;
    position: relative;
    left: 0;
}

.branding-line {
    width: 100%;
    height: 1px;
    background: #fff;
    margin: 40px 0 15px 0;
    position: relative;
    z-index: 6;
}

.branding {
    padding: 10px 0 20px 0;
}

.branding p {
    color: #fff;
    position: relative;
    z-index: 6;
    text-align: center;
    text-decoration: none;
    line-height: 1.2em;
    margin: 0;
}

.branding a {
    color: #31aece
}

.branding a:hover {
    cursor: pointer;
    opacity: .5;
    text-decoration: none;
}

@media screen and (min-width: 500px) and (max-width: 1024px) {

    .side-nav ul a {
        font-size: 30px;
    }

    #gallery-desktop {
        display: none;
    }

    #landing {
        height: 250px;
    }

    /*-- -------------------------- -->
    <---      PAINTINGS BUTTON      -->
    <--- -------------------------- -*/

    .buttons {
        max-width: 100%;
        margin-top: 150px;
    }

    .buttons button {
        width: 150px;
    }

    /*-- -------------------------- -->
    <---          FOOTER            -->
    <--- -------------------------- -*/

    .footer-content {
        height: auto;
    }

    .footer-item {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-item p,
    .footer-item h3 {
        text-align: center;
    }

    .item-line {
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 1025px) {

    .container {
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;
    }

    .black-button {
        font-size: 16px;
    }

    /*-- -------------------------- -->
    <---         NAVIGATION         -->
    <--- -------------------------- -*/

    .topper-content i {
        float: left;
        color: #fff;
        margin: 0px 10px 0 0;
    }

    .topper-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    #nav-topper {
        display: block;
    }

    .phone {
        display: flex;
        align-items: center;
    }
    
    #nav-topper {
        height: 40px;
        background: #414141;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .topper-content p {
        float: left;
        margin: 0px 65px 0px 0px;
        font-size: 10px;
        color: #eaeaea;
        width: auto;
    }

    p.topper-content {
        font-size: .8em;
    }

    .topper-content p:last-child {
        margin-right: 0;
    }

    #bottom-menu {
        display: none;
    }

    #side-menu {
        display: none;
    }

    .open-slide {
        display: none;
    }

    .mobile-logo {
        display: none !important;
    }

    .desktop-logo {
        display: block;
        float: left;
        height: 100px;
    }

    .desktop-logo img {
        margin-top: 13%;
        margin-bottom: auto;
    }

    .navbar {
        height: 100px;
    }

    .navbar-links {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        bottom: 15px;
        list-style: none;
    }

    .navbar-menu {
        height: 100px;
    }

    .navbar-links li {
        float: left;
        margin: 6.5% 30px 0 30px;
    }

    .navbar-links li a {
        text-decoration: none;
        color: #ffffff;
        transition: color 0.4s ease 0s;
        font-size: 25px;
        font-weight: normal;
        cursor: pointer;
        font-family: 'FuturaBT-Light', sans-serif;
        padding-bottom: 15px;
    }

    ul.navbar-links a:hover {
        color: #fff;
        opacity: 1;
        cursor: pointer;
    }

    #active {
        color: #fff;
        opacity: 1;
        border-bottom: 2px solid #FFFFFF
    }

    ul.navbar-links {
        text-align: center;
        margin: auto;
        padding: 0;
    }

    .navbar-links {
        margin-right: 0;
    }

    .navbar-links li:last-child {
        margin-right: 0;
    }

    /*-- -------------------------- -->
    <---          LANDING           -->
    <--- -------------------------- -*/

    #landing {
        height: 500px;
        position: relative;
        background-attachment: fixed;

    }

    .hero-content h1 {
        font-size: 70px;
        position: relative;
        top: 70px;
        
    }

    /*-- -------------------------- -->
    <---         PAINTINGS          -->
    <--- -------------------------- -*/

    .buttons {
        max-width: 900px !important;
        margin: 80px 0 50px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .buttons button {
        width: 150px;
        margin: 0 20px;
    }

    #gallery {
        display: none;
    }

    #gallery-desktop {
        display: block;
        position: relative;
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        width: 600px;
        margin: auto;
    }

    .gallery-start-d {
        display: relative;
    }

    .gallery-group-d {
        display: absolute;
        top: 0;
    }

    .structures-desktop div {
        background: #31AECE;
        display: block;
    }

    .structures-desktop img {
        height: 100%;
        width: 100%;
    }
    
    .structures-content-desktop {
        height: 700px;
    }
    .structures-desktop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        width: 800px;
        height: 1300px;
        margin: 50px auto 100px auto;
    }

    #structures-d, #abstract-d,#landscapes-d,#oil-d {
        transition: all .3s ease;
    }

    .group-remove {
        opacity: 0;
        visibility: hidden;
    }
    
    .d-one {
        grid-row: span 2;
        grid-column: span 2;
    }
    
    .d-two {
        grid-row: span ;
        grid-column: span 3;
    }
    
    .d-three {
        grid-row: span ;
        grid-column: span 3;
    }
    
    .d-four {
        grid-row: span ;
        grid-column: span 3;
    }
    
    .d-five {
        grid-row: span ;
        grid-column: span 2;
    }
    
    .d-six {
        grid-row: span ;
        grid-column: 2 / span 4;
    }
    
    .d-seven {
        grid-row: span ;
        grid-column: span 3;
    }

    .d-eight {
        grid-column: span 2;
    }

    .d-nine {
        grid-column: 3 / span 2;
    }

  
  

    /*-- -------------------------- -->
    <---          LANDING           -->
    <--- -------------------------- -*/

    /*-- -------------------------- -->
    <---           FOOTER           -->
    <--- -------------------------- -*/

    footer {
        position: relative;
        bottom: 0;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;
    }

    .footer-item img {
        margin: 0;
        height: 90px !important;
    }

    .footer-item {
        height: 190px;
        width: auto;
        max-width: 200px;
    }

    .footer-item:first-child {
        height: auto;
        margin: 0;
    }

}